<launch>

  <group ns="LO02">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find loomo_description)/urdf/loomo_description.xacro ns:=LO02"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
  </group>
</launch>
